.container{
  height: 100vh;
  display: grid;
  place-items: center;
}

.logo{
  display: flex;
  justify-content: center;
}

.logo > img{
  width: 179px;
}

.form-container{
  margin: 50px 50px 0px 50px;
}

.text-field{
  width: 20em;
}

.user-menu-btn{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.nav-bar{
  display: flex;
  position: fixed;
  width: 100%;
}

.user-menu{
  margin-left: 5em;
}